body{
    
    color: white;
}
.main{
    background-color: white;
    display: flex;
    margin: 4rem auto;
    max-width: 80%;
    min-height: 80vh;
    box-shadow: 0 40px 40px -10px grey;
}
.left-main{
    padding-top: 4rem;
    width: 50%;
    text-align: center;
    background-color: black;  
}

.right-main{
    width: 50%;
}
img{
width: 100%;
height: 100%;
}
label{
    font-weight: 400;
    border-bottom: 1px solid;
}
h1{
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-size: 3rem;
}
input{
    border: none;
    background-color: transparent;
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: white;
}
button{
    display: block;
    background-color: white;
    color: black;
    border: none;
    padding: 0.7rem 3rem;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid;
    margin-top: 1rem;
    margin-left: 15rem;
    
} 
button:hover{
    background-color: red;
    color: white;
    transition: 0.5s;
}
#output-box{
    margin-top: 1rem;
}
.footer{
    position: absolute;
    bottom: 6rem;
    padding-left: 12rem;
}
ul{
    display: flex;
    list-style-type: none;
    
}
li{
    margin: 0.5rem;
    font-size: large;
}
a:hover{
    
    color: yellow;
}
a{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width:640px){
    h1{
        font-size: 1.8rem;
    }
    .left-main{
        width: 100%;
    }
    button{
        margin-left:4rem;
    }
    .right-main{
        display:none;
    }
    .footer{
        padding-left:1rem;
        bottom:3.5rem;
    }
  
} 

/*
genaralization overfiting model capacity underfitting iit universal aproximax theorams validation sets cross validation threshold cross validation parameter astimation( bays and variance),min square error , derivation,standard error ,deep learning networks optimimization ,linear vs non linear models, cost function,softmax function forward pass backword pass,consitdration in design depp network artitecture,univwersal aproximate theorrams,vanilaMLP-artitecture,relu,variant of relu,dropout cropt connect,regulation techniq,cnn vs regular rural network,convolution vs cross corelation,types of cells,sparse connectivity,kernel size padding,convolution formulas,sparsity ad vs disadva,parameter sharing of adv,dis,option to cnn artitecture,pulling layers ,pulling function(avg,max,),calculation in cnn, 
*/